:root {
    --color1: #F2ACB9;
    --color2: #D9899E;
    --color3: #BFB6AE;
    --color4: #F2B4AE;
    --color5: #F2D8D5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color5);
    color: var(--color2);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */

.header {
    font-size: 3rem;
    font-weight: 900;
}

/* Game section */ 

.game {
    flex: 1 0 auto;
    box-sizing: border-box;
}

/* Board */

.board-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 306px;
    margin: 0 auto;
    gap: 0;
}

.board-cell {
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.board-cell:hover {
    -webkit-tap-highlight-color: transparent; /* hide blue highlight on mobile */
    background-color: var(--color4);
}

.cell-value {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 3.5rem;
    user-select: none;
}

.cell-value i {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.cell-value.o, .cell-value.x {
    animation-name: selectionAnimation;
    animation-duration: 0.3s;
}

.cell-value.o i.fa-o, .cell-value.x i.fa-xmark {
    visibility: visible;
}

@keyframes selectionAnimation {
    from {transform: scale(4); opacity: 0;};
    to {transform: scale(1); opacity: 1;}
}

/* board borders */

#cell1, #cell4, #cell7 {
    border-right: 3px solid var(--color1);
}

#cell1, #cell2, #cell3 {
    border-bottom: 3px solid var(--color1);
}

#cell3, #cell6, #cell9 {
    border-left: 3px solid var(--color1);
}

#cell7, #cell8 {
    border-top: 3px solid var(--color1);
}

#cell9 {
    border-top: 3px solid var(--color1);
}

/* Game message */

#game-message {
    text-align: center;
    margin: 3rem 0 2rem 0;
    color: var(--color1);
}

/* Game options */

#options-container {
    transition: transform 0.3s;
}

#game-mode {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

#game-mode button {
    font-size: 1.3rem;
    width: 9rem;
    font-family: inherit;
    color: var(--color2);
    background-color: var(--color1);
    padding: 0.5rem 0;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 0 20px 2px var(--color3);
}

#game-mode button:hover {
    background-color: var(--color4);
}

#game-mode button i {
    font-size: 2rem;
}

.winning-anim.fa-4x {
    display: none;
    transition: transform 0.3s;
    transform: scale(0.001);
}

.winning-anim.fa-4x i {
    display: none;
}

.winning-anim.fa-4x.human, .winning-anim.fa-4x.bot {
    display: flex;
    justify-content: center;
}

.winning-anim.fa-4x.human i.fa-solid.fa-user-astronaut.fa-beat,
.winning-anim.fa-4x.bot i.fa-solid.fa-robot.fa-beat {
    display: inline;
}

#restart-game {
    display: none;
    transition: transform 0.3s;
}

i.fa-solid.fa-sync:hover {
    cursor: pointer;
    color: var(--color1);
}

i.fa-solid.fa-sync.fa-spin {
    --fa-animation-duration: 2.5s;
}

/* Footer */

.footer a {
    text-decoration: none;
    margin-left: 0.5rem;
    color: inherit
}

.footer a:hover {
    color: var(--color1);
}